Source: ros-noetic-mesh-controller
Section: misc
Priority: optional
Maintainer: Sebastian Pütz <spuetz@uos.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamic-reconfigure, ros-noetic-mbf-mesh-core, ros-noetic-mbf-msgs, ros-noetic-mbf-utility, ros-noetic-mesh-map, ros-noetic-roscpp, ros-noetic-tf2-geometry-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-mesh-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dynamic-reconfigure, ros-noetic-mbf-mesh-core, ros-noetic-mbf-msgs, ros-noetic-mbf-utility, ros-noetic-mesh-map, ros-noetic-roscpp, ros-noetic-tf2-geometry-msgs
Description: The mesh_controller package
